.PlaylistItem {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto auto;
    align-items: center;
    justify-items: start;
    border-radius: 0.5rem;
    height: 6rem;

    &:hover {
        background-color: $secondary;

    }




}

#LoadPlaylistItem {
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $text-secondary;

    .MuiCircularProgress-svg {
        color: $text-principal;
    }


}



.cover-pi {
    height: 5rem;
    aspect-ratio: 1/1;
    margin-right: 0.5rem;
    cursor: pointer;

    img {
        border-radius: 1rem;
        height: 100%;

    }
}

.pi-name {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &::first-letter {
        text-transform: uppercase;
    }
}

.pi-data {
    font-size: 1rem;
    color: $text-secondary;
}

.pi-time {
    font-size: 1rem;
    color: $text-secondary;
}