
node_modules
dist
build/vc_redist*.exe
build/redist/*.exe
.env
.env.*
!.env.example
out
.DS_Store
*.log*
.db
/src/main/generated/prisma

# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.webp
*.ico

# Specific image directories
covers/
