.PlaylistPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-items: center;
    overflow: hidden;
    position: relative;
    height: 100%;



    .plg {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .plg-controls {


        height: 100%;


        display: flex;
        align-items: center;
        justify-content: center;



    }

    .pgl-data,
    .pgl-time {
        color: #8e8e8e;
    }

    .pgl-name {
        font-size: 2rem;
        font-weight: bold;
    }

    .pgl-buttton {
        display: flex;


    }


    .plg-cover {

        bottom: 30%;

        display: grid;
        grid-template-columns: 1fr;

        grid-template-rows: 1fr;


        width: 18rem;
        height: 18rem;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 0.3rem;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}

.plg-cola {

    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;


}