.Main {
    display: grid;
    grid-template-columns: 0.2fr 1fr;

    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    padding-bottom: 13rem;
    transition: grid-template-columns 250ms;

}



.Tittlebar {
    color: white;
    top: 0;
    -webkit-app-region: drag;
    z-index: 9999;
    cursor: grab;
    width: 100%;

    height: 2rem;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;

    padding-left: 1rem;
    font-family: 'Courier New', Courier, monospace;



}






.outlet {
    height: 100%;

    overflow-x: auto;


}

#AudioPlayer {



    position: absolute;
    bottom: 0;
    height: 6.5rem;

}


@media (min-width: 500px) and (max-width: 620px) {

    .Main {
        grid-template-columns: auto 1fr;
        padding-bottom: 8.4rem;
    }





}