@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '@fontsource/inter';





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;


    &::-webkit-scrollbar {
        width: 1rem;
    }

    // Color de la barra de desplazamiento (scrollbar)
    &::-webkit-scrollbar-thumb {
        background-color: $text-principal; // Cambia el color aquí
        border-radius: 0;

    }

    // Color de fondo del track
    &::-webkit-scrollbar-track {
        background-color: $principal; // Cambia el color aquí
    }
}

@media (min-width: 500px) and (max-width: 620px) {
    * {
        &::-webkit-scrollbar {
            width: 0.4rem;
        }

        &::-webkit-scrollbar-track {
            background-color: $secondary; // Cambia el color aquí
        }
    }
}

body {

    font-family: Arial, Helvetica, sans-serif;


    width: 100%;


    overflow: hidden;
    background-color: rgba(56, 52, 52, 0.404);

}



.App {
    //Develop outline
    outline: 2px solid rgb(0, 255, 0);

    color: white;
    display: grid;
    padding-top: 2rem;


    padding-bottom: 1rem;
    background-color: $principal;
}





.tracks {
    display: grid;
    grid-template-columns: 1fr 1fr;

    //Develop outline


}