@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '@fontsource/inter';


body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;

    &::-webkit-scrollbar {
        width: 0.2rem;
    }

    // Color de la barra de desplazamiento (scrollbar)
    &::-webkit-scrollbar-thumb {
        background-color: #ffffff; // Cambia el color aquí
        border-radius: 0;

    }

    // Color de fondo del track
    &::-webkit-scrollbar-track {
        background-color: #000000; // Cambia el color aquí
    }
}

body {

    font-family: Arial, Helvetica, sans-serif;


    width: 100%;
    overflow: hidden;

    /* Fondo semi-transparente */


}



.App {

    color: white;
    display: grid;
    padding-top: 2rem;


    padding-bottom: 1rem;
    background-color: #0a0a0ab1;
}





.tracks {
    display: grid;
    grid-template-columns: 1fr 1fr;

    //Develop outline


}