#Button {

    background-color: transparent;

    height: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    &:hover {
        background-color: $principal;
        border-color: $text-principal;


    }

    &:active {
        outline: 2px solid white;
        z-index: 999;
    }

    svg {


        font-size: 1.16rem;
    }
}