.waveform {
    grid-area: progress;
    position: relative;
    width: 100%;
    min-width: 7rem;
    height: 2.7rem;
    
    overflow: hidden;
    cursor: pointer;




    canvas {
        display: block;
        width: 100%;
        height: 100%;
    }

    &:focus-visible {
        outline: 2px solid $primary-color;
        outline-offset: 2px;
    }
}

.waveform-oscilloscope {
    height: 2rem;
}