.AudioPlayerLayoutTiny {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 1rem auto auto;
    grid-template-areas:
        "timeline timeline timeline timeline timeline timeline timeline"
        "cover meta meta controls volume like menu"
        "cover meta meta controls volume like menu";
    align-items: center;
    gap: 0.2rem;
    padding: 0.24rem 0.24rem;

}

.AudioPlayerLayoutTiny__timeline {
    grid-area: timeline;
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr) max-content;
    grid-template-areas: "current-time progress duration";
    align-items: center;
    gap: 0.22rem;
    min-width: 0;
    width: 100%;
    padding: 0 0.5rem;
}

.AudioPlayerLayoutTiny__progress {
    height: 1.55rem;
    border-radius: 0.35rem;
    align-self: center;
}

.AudioPlayerLayoutTiny__actions,
.AudioPlayerLayoutTiny__time {
    display: contents;
}