.navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    width: 200px;
    height: 100vh;
    padding: 10px;

}

.navbar {

    a {
        text-decoration: none;
        padding: 10px;
        margin: 5px 0;
        transition: background 0.3s;
        outline: none;
        color: white;
        transition: all 100ms;
    }

    .activo {

        background: linear-gradient(to right, rgba(255, 99, 55, 0.227) 0%, transparent 10%);
        padding-left: 2rem;
        border-left: 3px solid rgb(255, 99, 55);
        color: rgb(255, 99, 55);
    }
}