.Music {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;

    .reproductor {
        height: auto;
        width: 100%;
        aspect-ratio: 18/9;
        display: flex;
    }
}