:root {
    --Card: #111111;
    --Dynamic-color: #baff00;
    --text-secondary: #646464;
    --secondary: #363636;
    --background: #0A0A0A;
    --activeIcon: black;
    /* ── States ── */
    --hover: #272727;
    --selected: #505050;
    --primary-text: oklch(98.511% 0.00011 271.152);

    /* ── Typography ── */
    --font-main: 'Geist Sans', 'Inter', system-ui, -apple-system, sans-serif;

    /* Size scale */
    --fs-xs: 0.7rem;
    /* Metadatos secundarios */
    --fs-sm: 0.8rem;
    /* Labels, tags */
    --fs-base: 0.95rem;
    /* Texto general */
    --fs-md: 1.1rem;
    /* Títulos de items */
    --fs-lg: 1.5rem;
    /* Sección headers */
    --fs-xl: 2rem;
    /* Títulos de página */
    --fs-2xl: 2.5rem;
    /* Hero titles */

    /* Weight scale */
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

}

$card: var(--Card);
$secondary: var(--secondary);
$primary-color: var(--Dynamic-color);
$text-primary: var(--primary-text);
$text-secondary: var(--text-secondary);
$background: var(--background);
$hover: var(--hover);
$selected: var(--selected);
$highlight: var(--highlight);
$activeIcon: var(--activeIcon);
$border-radius: 3px;