.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Cuatro columnas de igual ancho
    grid-template-rows: repeat(3, 1fr); // Tres filas de igual alto

    width: 100%;
    height: fit-content;
    overflow-x: auto;
    justify-items: center;
    align-items: center;

    grid-template-areas:
        "list song  song stats"
        "data data data  stats"
        "banner banner btn stats"
    ;



    .grid-item {


        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        //Develop outline
        outline: 2px solid white;
    }



    .r-list {
        grid-area: list;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 1rem;
        overflow: hidden;


        background-size: cover;
        width: 15rem;
        height: 15rem;

        //Develop outline





        .blur {
            background-color: rgba(0, 0, 0, 0.101);
            width: 200%;
            height: 200%;
            backdrop-filter: blur(5px);
            position: absolute;
            border: 2px solid black;

        }

        .r-name {
            display: grid;
            justify-items: start;
            z-index: 1;
            align-items: center;
            width: 100%;
            padding: 1rem;

            span:first-child {

                font-size: 0.8rem;
            }

            span:nth-child(2) {

                font-size: 1.5rem;
                ;

                &:hover {
                    text-decoration: underline;
                }
            }


        }

        .r-img {
            width: 55%;
            aspect-ratio: 1/1;
            overflow: hidden;
            z-index: 1;
            border-radius: 1rem;

            &:hover {
                //Develop outline
                outline: 2px solid white;
            }

            img {

                object-fit: cover;
                width: 100%;
                height: 100%;

                aspect-ratio: 1/1;

            }
        }



    }

    .current-play {
        grid-area: song;
        background-size: contain;

        .grp {

            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.719);
        }


        .grp-1 {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            align-items: center;
            justify-items: center;

            .cc-titulo {
                font-size: 1.5rem;
            }
        }

        .grp-2 {
            display: grid;

            width: 100%;
            height: 100%;
            align-items: center;
            justify-items: center;
        }

        .grp-3 {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            align-items: center;
            justify-items: center;

            .cc-timeline {
                width: 100%;

                height: 7px;
                background-color: white;
                border: 1px solid orangered;


            }
        }


    }



    .item4 {
        grid-area: data;


    }



    .item6 {
        grid-area: banner;


    }

    .item7 {
        grid-area: btn;


    }

    .item8 {
        grid-area: stats;


    }
}