.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Cuatro columnas de igual ancho
    grid-template-rows: repeat(3, 1fr); // Tres filas de igual alto

    width: 100%;
    height: fit-content;
    overflow-x: auto;

    grid-template-areas:
        "list song  song stats"
        "data data data  stats"
        "banner banner btn stats"
    ;

    .grid-item {


        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

    }



    .r-list {
        grid-area: list;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
        aspect-ratio: 1/1;
        padding: 1rem;
        background-size: cover;





        .blur {
            background-color: rgba(0, 0, 0, 0.101);
            width: 200%;
            height: 200%;
            backdrop-filter: blur(5px);
            position: absolute;
            border: 2px solid black;

        }

        .r-name {
            display: grid;
            justify-items: center;
            z-index: 1;

            span:nth-child(2) {
                font-size: 2rem;

                &:hover {
                    text-decoration: underline;
                }
            }


        }


        img {
            border-radius: 1rem;
            overflow: hidden;
            width: 100px;
            z-index: 1;
        }


    }

    .item2 {
        grid-area: song;


    }



    .item4 {
        grid-area: data;


    }



    .item6 {
        grid-area: banner;


    }

    .item7 {
        grid-area: btn;


    }

    .item8 {
        grid-area: stats;


    }
}