.PlaylistActions {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;


    button {

        background-color: $secondary;
        font-size: 1rem;
        padding: 1rem 0.5rem;
        border: none;

        border-radius: $border-radius;
        color: $text-primary;
        cursor: pointer;

        &:hover {
            outline: 2px solid $primary-color;
            z-index: 999;
        }

        &:active {
            outline: 2px solid $text-secondary;
            z-index: 999;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
            outline: none;
        }
    }
}

