.header-item {
  text-decoration: none;
  padding: 0.8rem;

  outline: none;
  color: $text-primary;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 0.8rem;
  gap: 0.5rem;
  width: 100%;

  &:hover {
    background: $hover;
  }

  &.active {
    background: linear-gradient(to right, $primary-color 0%, transparent 10%);
    border-left: 1px solid $primary-color;
    color: $primary-color;
  }

  .header-item-icon {
    font-size: 1.4rem;
  }
}
