.search-bar {
    display: grid;

    grid-template-columns: 0.89fr 3.5fr 1fr;

    align-items: center;
    justify-items: start;
    padding: 1rem 0;
    background-color: transparent;


}

.search-input {
    color: white;

    background-color: $secondary;
    border: none;
    outline: none;
    width: 60%;
    padding: 1rem;
    border-radius: 1rem;
}

.s-t {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.settings {
    color: $text-principal;
    border: 1px solid $text-principal;
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    font-weight: bold;

}